.bg-container{
    height: 100vh;
    background-color: lightcyan;

}
button{
    border-radius: 20px;
    padding: 20px;
    color: whitesmoke;
    font-style: italic;
}
.heading{
    font-size: 60px;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
.color-container{
    height: 40vh;
    border-radius: 20pxs;
}